:root{
    --black: #404A57;
    --gray1: #B0B0B0;
    --gray2: #666;
    --purple: #B983FF;
    --lightblue: #94B3FD;
    --blue: #548CFF;
    --red: #FF5C58;
}

.black{
    color: var(--black);
}

.gray1{
    color: var(--gray2)
}

.gray2::placeholder{
    color: var(--gray1)
}

.purple{
    color: var(--purple);
}

.lightblue{
    color: var(--lightblue);
}


.blue{
    color: var(--blue);
}

.red{
    color: var(--red);
}