:root{
    --black: #495057;
    --purple: #AB59FF;
    --pink: #ED65FF;
    --gray: #7d7d7d;

    --green: #33DB6C
}

/* Text color */

.black{
    color: var(--black);
}

.gray{
    color: var(--gray);
}

.purple{
    color: var(--purple);
}

.green{
    color: var(--green);
}

/* Font size */

.text-12{
    font-size: 12px; 
}

.text-14{
    font-size: 14px; /* 16px */
}

.text-16{
    font-size: 16px; /* 20px */
}

.text-20{
    font-size: 20px; /* 25px */
}

.text-25{
    font-size: 25px;
}

.text-31{
    font-size: 31px; /* 39px */
}

/* letter spacing */

.letter-spacing-1{
    letter-spacing: .5px;
}

/* Line height */

.line-height-1{
    line-height: 30px;
}


/* background */

.bg-gradient-purple-to-pink{
    background: linear-gradient(90deg, var(--purple) 0%, var(--pink) 100%);
}

.bg-purple{
    background: var(--purple)
}


/* box shadow */

.box-shadow{
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
}

/* profile group */


.profiles {
    display: flex;
}

.profiles-group {
    position: relative;
    margin-left: -.75rem;
    cursor: pointer;
}

.profiles-group img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
    top: 0;
    transition: 250ms top ease-in-out;
}

.profiles-group p {
    position: absolute;
    background-color: #2a324b;
    color: white;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    top: 6rem;
    text-align: center;
    left: 50%;
    transform: translatex(-50%);
    display: none;
}

.profiles-group:first-child {
    margin-left: 0;
}

.card{
    background-color: none;
    position: relative;
    border-radius: 1rem;
}

.card_anim{
    transform: translateY(0);
    border-radius: 1rem;
}

.card_anim:hover{
    transform: translateY(-25px);
}
