:root{
    --black: #000;
    --white: #fff;
    --blue: #5463FF;
    --red: #FD5D5D;
    --secondary_text: #7D7D7D;
    --tertiary_text: #495057;
    --bg_gray: #F6F6F6;
    --bg_gray2: #F8F8F9;
    --border_gray: #C9C9C9;

    --darkmode: #02DE78;
    --darkmode2: #191627;
    --darkmode3: #5B69C5;
}

/* Text color */
.white{
    color: var(--white);
}

.black{
    color: var(--black);
}

.blue{
    color: var(--blue);
}

.red{
    color: var(--red);
}

.secondary_text{
    color: var(--secondary_text);
}

.tertiary_text{
    color: var(--tertiary_text);
}

/* background */

.bg_white{
    background: var(--white);
}

.bg_gray{
    background: var(--bg_gray);
}

.bg_gray2{
    background: var(--bg_gray2);
}

.bg_blue{
    background: var(--blue);
}

.bg_red{
    background: var(--red);
}

.bg_red_hover:hover{
    background: #f8aeae;
}

/* Font size */

.text_11{
    font-size: 11px; 
}

.text_14{
    font-size: 14px; 
}

.text_16{
    font-size: 16px;
}

.text_20{
    font-size: 20px;
}

.text_25{
    font-size: 25px;
}

.text_31{
    font-size: 31px;
}

.text_76{
    font-size: 76px;
}

/* letter spacing */

.letter_spacing_1{
    letter-spacing: .5px;
}

/* Line height */

.line-height-1{
    line-height: 30px;
}

/* border */

.border_gray{
    border: 1px solid var(--border_gray);
}

/* box shadow */

.box_shadow{
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    transition: 100ms;
}

.box_shadow:hover{
    transition: 100ms;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box_shadow_2{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* truncate */

.truncate_2{
    display: -webkit-box;
    max-width: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* profile group */

.profiles {
    display: flex;
}

.profiles-group {
    position: relative;
    margin-left: -.75rem;
    cursor: pointer;
}

.profiles-group img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
    top: 0;
    transition: 250ms top ease-in-out;
}

.profiles-group p {
    position: absolute;
    background-color: #2a324b;
    color: white;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    top: 6rem;
    text-align: center;
    left: 50%;
    transform: translatex(-50%);
    display: none;
}

.profiles-group:first-child {
    margin-left: 0;
}

.header{
    background: url('../asset/ttten.png'), linear-gradient( 90deg, rgba(184, 255, 249,0.5) 0%, rgba(66, 194, 255,0.3) 100%);
}

.card{
    background-color: none;
    position: relative;
    border-radius: 1rem;
}

.card_anim{
    transform: translateY(0);
    border-radius: 1rem;
}

.card_anim:hover{
    transform: translateY(-25px);
}

/* Accordion */
.accordion-wrapper + * {
    margin-top: 0.5em;
}

.accordion-item {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px;
}

.accordion-item.collapsed {
    max-height: 0;
    transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

.accordion-title {
    font-weight: 600;
    cursor: pointer;
    color: #666;
    padding: 0.5em 1.5em;
    border: solid 1px #ccc;
    border-radius: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-title::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid currentColor;
}

.accordion-title:hover, .accordion-title.open {
    color: black;
}

.accordion-title.open::after {
    content: "";
    border-top: 0;
    border-bottom: 5px solid;
}

.accordion-content {
    padding: 1em 1.5em;
}