@font-face {
    font-family: poppins-100;
    src: url("../asset/Poppins/Poppins-Thin.ttf");
}

.poppins-100{
    font-family: poppins-100;
}

@font-face {
    font-family: poppins-200;
    src: url("../asset/Poppins/Poppins-ExtraLight.ttf");
}

.poppins-200{
    font-family: poppins-200;
}

@font-face {
    font-family: poppins-300;
    src: url("../asset/Poppins/Poppins-Light.ttf");
}

.poppins-300{
    font-family: poppins-300;
}

@font-face {
    font-family: poppins;
    src: url("../asset/Poppins/Poppins-Regular.ttf");
}

.poppins{
    font-family: poppins;
}

@font-face {
    font-family: poppins-600;
    src: url("../asset/Poppins/Poppins-Medium.ttf");
}

.poppins-600{
    font-family: poppins-600;
}

@font-face {
    font-family: poppins-700;
    src: url("../asset/Poppins/Poppins-SemiBold.ttf");
}

.poppins-700{
    font-family: poppins-700;
}

@font-face {
    font-family: poppins-800;
    src: url("../asset/Poppins/Poppins-Bold.ttf");
}

.poppins-800{
    font-family: poppins-800;
}