@font-face {
    font-family: inter-100;
    src: url("../asset/Inter/Inter-Thin.ttf");
}

.inter-100{
    font-family: inter-100;
}

@font-face {
    font-family: inter-200;
    src: url("../asset/Inter/Inter-ExtraLight.ttf");
}

.inter-200{
    font-family: inter-200;
}

@font-face {
    font-family: inter-300;
    src: url("../asset/Inter/Inter-Light.ttf");
}

.inter-300{
    font-family: inter-300;
}

@font-face {
    font-family: inter;
    src: url("../asset/Inter/Inter-Regular.ttf");
}

.inter{
    font-family: inter;
}

@font-face {
    font-family: inter-600;
    src: url("../asset/Inter/Inter-Medium.ttf");
}

.inter-600{
    font-family: inter-600;
}

@font-face {
    font-family: inter-700;
    src: url("../asset/Inter/Inter-SemiBold.ttf");
}

.inter-700{
    font-family: inter-700;
}

@font-face {
    font-family: inter-800;
    src: url("../asset/Inter/Inter-Bold.ttf");
}

.inter-800{
    font-family: inter-800;
}