:root{
  --black: #303030;
  --gray1: #666;
  --gray2: #404A57;
  --gray3: #B0B0B0;
  --gray4: #C9C9C9
  --purple: #AB59FF;
  --lightblue: #94B3FD;
  --blue: #548CFF;
  --red: #FF5C58;
  --green: #33DB6C;
}

.signin input::placeholder,
.signup input::placeholder,
.reset-password input::placeholder{
  color: var(--gray3);
}